body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: linear-gradient(to right,rgb(202, 19, 19),rgb(27, 27, 203));
}
form{
    background-color: aliceblue;
    width: 450px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 50px auto;
}

label{
    font-size: 20px;
    font-family: open sans;
    margin-bottom: 10px;
    text-align: left;
    color:rgb(8, 173, 243) ;
}
input {
width:60%;
padding: 10px;
border-radius: 10px;
outline: none;
border: none;
margin-bottom: 20px;
}
input:hover{
    box-shadow: 2px 2px 5px rgb(116, 116, 116);


}
#btn{
    background: linear-gradient(to right,rgb(225, 32, 32),rgb(27, 27, 203)) ;
    color: white;
    width: 60%;
    font-size:20px ;
    box-shadow: 2px 2px 5px rgb(116, 116, 116);
}